.app-wrapper {
  min-width: 300px;
  padding: 1.5em;
  display: grid;

  max-width: 1300px;
  margin: 0 auto;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 2em;
  grid-template-areas:
    'top top'
    'left right';

  h3 {
    margin-bottom: 1em;
  }
}

.top {
  grid-area: top;
}

.left {
  grid-area: left;
}
.right {
  grid-area: right;
}
